/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*-------------------------------------------------------------------------------------------------- */











* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#black{
    background-color: black;
    color: white;
    width: 100px;
    border: white;
    border-radius: 4px;
    height: 32px;
}
#white {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100px;
    border: solid 1px black;
    border-radius: 4px;
    height: 32px;
}



.column {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    align-items: center;
}
.dot {
    height: 48px;
    width: 48px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    padding: 1em;
    margin-top: 1rem;
}
#white1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100px;
    border: solid 1px black;
    border-radius: 4px;
    height: 32px;
    justify-content: center;
    margin-left: 13rem;
}
button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100px;
    border: solid 1px black;
    border-radius: 4px;
    height: 32px;
    justify-content: center;
  
}
.feat1{
    color: lightgray;
}
.feat2 {
    color: lightgrey;
}
.feat3{
    color: lightgrey;
}

.cardbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 270px;
    height: 420px;
    border: solid black;
    

}
.logo {
    font: 24px bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.feature{
    margin-bottom: .5em;
    margin: 1em;
}

h2 {
    margin: 1em;
}
h5 {
    margin: 1em ;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 80px;
    padding: 0 3%;
    background-color: white
}

nav h1{
    display: flex;
    align-items: center;
    font: 32px bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav div {
    display: flex;
    justify-content: end;
    padding: 3% 0;
}

nav-button{
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10%;
    background-color: white;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav li {
    display: flex;
    align-items: center;
    margin: 0 4%;
    font-weight: bold;
} 

#features-left{
    display: grid;
    grid-template-rows: 1fr; /* three rows defined here */
    grid-template-columns: 1fr 1fr;
    min-height: 80vh;
}

.featuresleft1-0{
    padding: 30% 40% 30% 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: white; */
    background-color: rgb(223, 223, 222);

}

.featuresleft2-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.featuresleft2-0 div{
    background-color: white;
    height: 60%;
    width: 50%;
    border-radius: 8px;
}

.features-left-2 button{
    padding: 5% 12%;
    border-radius: 5px;
}
#CTA-section {
    text-align: center;
    padding: 5%;
    display: flex;
    justify-content: center;
    background-color: rgb(223, 223, 222);
}

#cta-container {
    width: 40%;
}

#cta-container h1 {
    margin-bottom: 5%;
}

#cta-container p {
    margin-bottom: 5%;
}

footer {
    color: #000000;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Styles for the buttons */
    #btn1 {
    padding: 1px 20px;
    margin-left: 10px;
    background-color: #000000;
    border: none;
    cursor: pointer;
    color: white;
    width: 150px;
    gap: 40px;
  }
  #btn2 {
    background-color: rgb(255, 255, 255);
    width: 150px;
    cursor: pointer;
  }
