/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*-------------------------------------------------------------------------------------------------- */











* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#black{
    background-color: black;
    color: white;
    width: 100px;
    border: white;
    border-radius: 4px;
    height: 32px;
}
#white {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100px;
    border: solid 1px black;
    border-radius: 4px;
    height: 32px;
}



.column {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    align-items: center;
}
.dot {
    height: 48px;
    width: 48px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    padding: 1em;
    margin-top: 1rem;
}
#white1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100px;
    border: solid 1px black;
    border-radius: 4px;
    height: 32px;
    justify-content: center;
    margin-left: 13rem;
}
button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100px;
    border: solid 1px black;
    border-radius: 4px;
    height: 32px;
    justify-content: center;
  
}
.feat1{
    color: lightgray;
}
.feat2 {
    color: lightgrey;
}
.feat3{
    color: lightgrey;
}

.cardbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 270px;
    height: 420px;
    border: solid black;
    

}
.logo {
    font: 24px bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.feature{
    margin-bottom: .5em;
    margin: 1em;
}

h2 {
    margin: 1em;
}
h5 {
    margin: 1em ;
}

.navbar {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo{
    height: 50px;

}

.nav-links {
    list-style: none;
    gap: 2rem;
    align-content: end;
    display: inline-flex;
    margin-left: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.featureCard {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 270px;
    height: 420px;
    font-family: sans-serif;
}
#learnMore {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 150px;
    border: solid 1px black;
    border-radius: 4px;
    height: 48px;
    font-family: 'Times New Roman', Times, serif;

}
#subText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: 21px bolder;
    color: black;
    display: inline-flex;
}

footer {
    color: #000000;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Styles for the buttons */
    #btn1 {
    padding: 1px 20px;
    margin-left: 10px;
    background-color: #000000;
    border: none;
    cursor: pointer;
    color: white;
    width: 150px;
    gap: 40px;
  }
  #btn2 {
    background-color: rgb(255, 255, 255);
    width: 150px;
    cursor: pointer;
  }
